Proposa/SystemsIntegrationSample (1)/SystemsIntegrationSample/Web References/MagiConnect_Accounts/accounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.magishop.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.magishop.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.magishop.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TestPing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestPingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestPingResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportAccountsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportAccountsUsingDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportAccountsUsingDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportAccountsUsingDateRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ContactTypeID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="ColumnNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertAccountResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MagicoID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ColumnNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAccountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteAccountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestPingSoapIn">
    <wsdl:part name="parameters" element="tns:TestPing" />
  </wsdl:message>
  <wsdl:message name="TestPingSoapOut">
    <wsdl:part name="parameters" element="tns:TestPingResponse" />
  </wsdl:message>
  <wsdl:message name="ExportAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:ExportAccounts" />
  </wsdl:message>
  <wsdl:message name="ExportAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:ExportAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="ExportAccountsUsingDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:ExportAccountsUsingDateRange" />
  </wsdl:message>
  <wsdl:message name="ExportAccountsUsingDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:ExportAccountsUsingDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAccountSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAccount" />
  </wsdl:message>
  <wsdl:message name="InsertAccountSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="accountsSoap">
    <wsdl:operation name="TestPing">
      <wsdl:input message="tns:TestPingSoapIn" />
      <wsdl:output message="tns:TestPingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportAccounts">
      <wsdl:input message="tns:ExportAccountsSoapIn" />
      <wsdl:output message="tns:ExportAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportAccountsUsingDateRange">
      <wsdl:input message="tns:ExportAccountsUsingDateRangeSoapIn" />
      <wsdl:output message="tns:ExportAccountsUsingDateRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <wsdl:input message="tns:InsertAccountSoapIn" />
      <wsdl:output message="tns:InsertAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input message="tns:DeleteAccountSoapIn" />
      <wsdl:output message="tns:DeleteAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="accountsSoap" type="tns:accountsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestPing">
      <soap:operation soapAction="http://www.magishop.com/TestPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportAccounts">
      <soap:operation soapAction="http://www.magishop.com/ExportAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportAccountsUsingDateRange">
      <soap:operation soapAction="http://www.magishop.com/ExportAccountsUsingDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <soap:operation soapAction="http://www.magishop.com/InsertAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://www.magishop.com/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://www.magishop.com/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="accountsSoap12" type="tns:accountsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestPing">
      <soap12:operation soapAction="http://www.magishop.com/TestPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportAccounts">
      <soap12:operation soapAction="http://www.magishop.com/ExportAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportAccountsUsingDateRange">
      <soap12:operation soapAction="http://www.magishop.com/ExportAccountsUsingDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <soap12:operation soapAction="http://www.magishop.com/InsertAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://www.magishop.com/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://www.magishop.com/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="accounts">
    <wsdl:port name="accountsSoap" binding="tns:accountsSoap">
      <soap:address location="http://inishpharmacy2018_com.abcommerce.com/webservices/accounts.asmx" />
    </wsdl:port>
    <wsdl:port name="accountsSoap12" binding="tns:accountsSoap12">
      <soap12:address location="http://inishpharmacy2018_com.abcommerce.com/webservices/accounts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>